*{
    background-color: aqua;
}




#green{
    color: green;
}

#red{
    color: red;
}

#blue{
    color: blue;
}


#orange{
    color: orange;
}

#yellow{
    color: yellow;
}




.color-title{
    font-weight: normal;
}



img{
    height: 200px;
    width: 200px;
}